/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* UTILITIES */
.container{
    display: flex;
    max-width: 1200px;
    position: relative;
}

/* Buttons */
.btn-upgrade{
    min-width: 100px;
    padding: 10px 30px;
    margin-right: 10px;
    font-size: 0.85em;
    color: #fff;
    border: 1px solid #fff;
    border-radius:20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color:transparent;
}

.add{
    width:25px;
    height:25px;
    color: #000;
    text-align: center;
    line-height:25px;
    background-color:#ccc;
}

/* menu-nav */
.menu-inline{
    display: flex;
    height:50px;
    justify-content: center;
    align-items: center;
}

.menu-inline li{
    list-style: none;
    margin-right: 10px;
}

.menu-inline li:last-child{
    margin-right:0;
}

.menu-inline li a{
    font-size: 0.75rem;
    font-weight: 600;
    color: #7d7f84;
    text-transform: uppercase;
    text-decoration: none;
}


/* Color/Size */

.title-playlist{
    font-size:0.9rem;
}
.descriptions-playlist{
    color: #7b7e82;
    font-size: 0.8rem;
}


/* Margin/Padding */

/* margin */

.mg-rg-xs{
    margin-right: 5px;
}

.mg-lf-xs{
    margin-left: 3px;
}

.mg-bt-xs{
    margin-bottom: 5px;
}

.mg-tp-xs{
    margin-top: 5px;
}

.mg-tp-sm{
    margin-top:15px;
}

.mg-bt-sm{
    margin-bottom: 15px;
}

.mg-tp-md{
    margin-top: 20px;
}

.mg-bt-md{
    margin-bottom: 20px;
}

.mg-tp-lg{
    margin-top: 30px;
}

.mg-bt-lg{
    margin-bottom: 30px;
}

.mg-bt-xl{
    margin-bottom: 50px;
}

.mg-tp-xl{
    margin-top: 50px;
}



/* padding */

.pd-tp-sm{
    padding-top:20px;
}

.pd-bt-sm{
    padding-bottom:20px;
}

.pd-tp-md{
    padding-top:50px;
}

.pd-bt-md{
    padding-bottom: 50px;
}

.pd-lf-md{
    padding-left: 25px;
}

.pd-lf-xs{
    padding-left: 5px;
}


/* ASIDE-LEFT */
.aside-left{
    flex-basis: 20%;
    background-color: #000;
    height:calc(100vh - 80px);
    overflow-y: auto;
}

/* Aside-Top */

.logo{
    text-align:center;
}

.aside-left .logo img{
    max-width:150px;
    height:80px;
}

/* Aside Bottom */
.aside-content{
    padding-left: 25px;
}
.search{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.search.vertical{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;

}

.search.vertical a{
    padding-left: 0;
    margin-bottom: 15px;
}

.search a{
    font-size:0.75rem;
    text-decoration:none;
    color: #7b7e82;
    padding-left:5px;
    font-weight: 600;
}
.aside-content img{
    width:20px;
}

.aside-content h5{
    text-transform: uppercase;
    font-size:0.70rem;
    margin-top:15px;
    margin-bottom:15px;
}

.app-account{
    display: flex;
    align-self: flex-end;




}


/* MAIN-CONTENT */
.main-content{
    flex-basis: 80%;
    background-color: #141922;
    padding-top:80px;
    height:100%;
    overflow-y: auto;

}

/* TOP-BAR */

.top-bar{
    width: 80%;
    position: absolute;
    top: 0;
    height: 80px;
    line-height: 80px;
    text-align: right;
    background-color: rgba(0, 0, 0, .2);
}


/* App-content-scroll  */

.app-content{
    height: calc(100vh - 160px);
    padding: 0 25px;
}


/* CATEGORIES */
.categories{
    display: flex;
    flex-wrap: wrap;

}

.categories .col{
    width: calc(100% / 6);
    padding: 5px;
}

.title{
    text-align: center;
}

.categories .col .title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories .col .title.circle img{
    border-radius: 50%;
}





/* FOOTER */

.play-bar{
    width: 100%;
    height: 80px;
    background-color:#ccc
}








