/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* UTILITIES */


.flex{
    display: flex;
}



/* MAIN-CONTENT */
.main-content{
    width: 100%;
}


/* TOP-BAR */
.top-bar{
    height: 50px;
    background-color:#ccc;
}



.menu{
    background-color:aqua
}




/* ASIDE-LEFT */
.aside-left{
height: 100vh;
background-color: antiquewhite;
}




